

<h1><%= @list.name %></h1>

<ul> <% @list.movies.each do |movie| %>
  <li><strong><%= movie.title %></strong> | <%= movie.overview %> </li>
  <% end %>
  </ul>

<%= link_to "Ajouter un film à cette liste", new_list_bookmark_path(@list) %>
<%= link_to "Supprimer un film de cette liste", bookmark_path(@list) %>
<%= link_to "Voir toutes les listes", lists_path %>
